Create a new contact
<form action="/contacts" method="post">
  <p>First Name:<input type="text" name="first_name"></p>
  <p>Last Name: <input type="text" name="last_name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p><input type="submit" value="Submit"></p>
</form>